@import url(https://fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');


@media (max-width: 762px) {
  .btn-responsive {
    font-size: 12px !important;
    line-height: 1.4;
    padding: 3px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: normal !important;
    word-wrap: break-word;
  }

  .arrow-down {
    top: 85% !important;
    margin-left: 50%;
    padding: 12px !important;
    font-size: 15px !important;
    width: 50px !important;
  }

  .inner p {
    font-size: 15px !important;
  }

  .lib-phylo {
    margin: 10px 2px;
  }

}

@media (min-width: 760px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 12px !important;
    line-height: 1.5;
    white-space: normal !important;
    word-wrap: break-word;
  }

  .arrow-down {
    top: 85% !important;
    margin-left: 50%;
    padding: 15px !important;
    font-size: 15px !important;
    width: 55px !important;
  }

  .inner p {
    font-size: 25px !important;
  }

  .lib-phylo {
    margin: 10px 4px;
  }
}

a {
  text-decoration: none !important;
}

body {
  color: #66615b;
  font-size: 14px;
  font-family: 'Muli', Arial, sans-serif;
  background-color: #f7f7f7;
  background-color: #f9f7ed;
  /*background: url(../image/black.jpg) ;*/
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.btn-default {
  font-size: 12px;
  text-align: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn.btn-raised {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12), 0 2px 8px rgba(0, 0, 0, .12);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

.btn.btn-raised:hover,
.btn:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .50), 0 4px 8px rgba(0, 0, 0, .50);
  transition: box-shadow .128s cubic-bezier(.4, 0, .2, 1);
}

.btn:focus {
  outline: none;
}

.card {
  text-align: center;
  background-color: #FFF;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  /*box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-title {
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #e8e8e8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .26);
}


/* chart layout for creating blocks*/

.chart-wrapper {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 1px 3px rgba(0, 0, 0, .16);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 1px 3px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 1px 3px rgba(0, 0, 0, .16);
}

.chart-wrapper .chart-title {
  text-transform: capitalize;
  border-bottom: 3px solid #d9d9d9;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 10px;
}

.chart-wrapper .chart-area {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.chart-footer {
  font-size: 15px;
  padding: 0px 20px 5px 20px;
  line-height: 25px;
}

hr {
  border-color: #d2bc9d;
}

.chart-footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Widget container*/

.widget-container {
  background: #fff;
  padding: 5px 20px 5px 20px;
  border: 1px solid #cdcdcd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.widget-header {
  font-size: 20px;
  font-weight: bold;
  /*border-bottom: 1px solid #cdcdcd;*/
}


/*widget container */

.widget-box {
  background: #FFFFFF;
  border-left: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcddc;
  margin-bottom: 16px;
  position: relative;
}

.widget-title {
  background: #efefef;
  padding: 10px 10px;
  font-size: 15px;
  border-bottom: 1px solid #cdcdcd;
}

.widget-content {
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.widget-footer {
  padding: 10px 5px;
  font-size: 15px;
  border-top: 1px solid #cdcdcd;
}


/*widget */

.widget-card {
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  padding: 20px;
  width: 50%;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}


/*custome style on navbar */

.navbar {
  min-height: 50px;
  border-bottom: 0px solid #d9d9d9;
  background-color: #777;
  /*background-color: #f9f7ed;
  background-color: #f4f3ef;
  background-color: #77cc6d; 
  background-color: #ffd777;*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, .13), 0 3px 10px rgba(0, 0, 0, .16);
}


/*custome style on navbar brand */

.navbar .navbar-brand {
  color: #777;
  color: #fff;
  color: darkturquoise;
  position: absolute;
  left: 40px;
  margin: 10px 20px;
  font-weight: bolder;
  padding: 10px 10px;
  font-size: 25px;
}


/* navbar brand on hover */

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #68B3C8;
  color: darkturquoise;
}


/*custome style on navbar li */

.navbar .navbar-nav > li > a {
  /*color: #777;*/
  color: #9a9a9a;
  color: #fff;
  /*font-weight: 600;*/
  right: 30px;
  font-size: 18px;
  line-height: 1.42857;
  margin: 10px 20px;
  padding: 10px 10px;
}


/* navbar li on hover */

.navbar .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #68B3C8;
  color: darkturquoise;
}


/* navbar li on click */

.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
}


/* active navbar li */

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  background-color: #66615b !important;
  color: #fff !important;
  border-radius: 6px !important;
}

.step {
  background-color: #f7f7f7;
}

text {
  cursor: default;
  fill: #FFF;
  pointer-events: none;
  font-size: 12px;
  font-weight: bold;
}

#loadFile {
  display: block;
}

#pasteUrl {
  display: none;
}

#exampleData {
  display: none;
}

#loadData {
  display: block;
  background-color: #fff;
  margin: 200px 0px;
}

.parallex-img1,
.parallex-img2,
.parallex-img3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallex-img1 {
  background-image: url("../img/seq1.png");
  height: 100vh;
}

.parallex-img2 {
  background-image: url("../img/sun1.png");
  height: 300px;
}

.inner {
  position: absolute;
  left: 0;
  top: 35%;
  margin-left: 25%;
  margin-right: 25%;
  /*background: rgba(52, 27, 43, 0.5);*/
  color: rgba(52, 27, 43, 0.8);
  text-align: center;
  display: inline-block;
}

.inner header h1 {
  font-family: 'Muli', Arial, sans-serif;
  font-weight: bolder !important;
  color: darkturquoise;
}

.inner p {
  font-size: 25px;
  font-weight: bold !important;
  font-family: 'Muli', Arial, sans-serif;
}

.arrow-down {
  top: 80%;
  margin-left: 50%;
  padding: 15px;
  font-size: 30px;
  background-color: rgba(52, 27, 43, 0.7);
  border-radius: 50%;
  width: 70px;
}

.arrow-down a {
  color: #fff !important;
}

.arrow-down a:hover {
  color: darkturquoise !important;
}

.caption {
  font-family: 'Muli', Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.caption .btn-solid {
  color: #fff;
  background-color: rgba(52, 27, 53, .9);
  padding: 15px 15px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.caption .btn-border {
  margin: auto;
  width: 50% !important;
  border: solid 4px;
  color: #000;
  padding: 20px 30px 20px 30px;
  font-size: 18px;
  letter-spacing: 2px;
}

.btn-solid:hover,
.btn-solid:focus {
  color: darkturquoise;
}

/* custome style for library page*/

.lib-phylo {
  margin: 100px 400px;
}

#getting-started,
#tutorial {
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 30px;
  background-color: #fff;
}

#getting-started,
#features,
#tutorial,
#discover-more p {
  font-family: 'Muli', sans-serif;
  font-size: 25px;
}

textarea {
  font-size: 16px;
  height: 300px;
  width: 500px;
  resize: none;
}

.footer {
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Muli', Arial, sans-serif;
  position: absolute !important;
  width: 100%;
  bottom: 0 !important;
  left: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #e8dddd;
}

.dropdown-menu {
  position: relative;
  font-size: 16px;
  float: right;
}
